*.env
*.secrets
*.deb
*.log

**/.cache
**/.dotnet
**/.ipython
**/.local
**/.gnupg
**/env

**.nv
**/.ssh
**/.vscode-server

**/micromamba

*.bashrc
*.gitconfig

.known_hosts
.bash_history

/cuda-test
/tmp

**/datalad
**/spaceranger

/docker/main/quarto.deb
/docker/main/python-env/old-base-conda-lock.yml
/docker/full/python-env/old-facsimilab-conda-lock.yml

*.code-workspace
/workspaces