services:

  base:
    image: pranavmishra90/facsimilab-base:$IMAGE_VERSION
    build:
      context: base
      dockerfile: base.Dockerfile
      args:
        IMAGE_VERSION: $IMAGE_VERSION
        ISO_DATETIME: $ISO_DATETIME
        BASE_IMAGE_EXACT: $BASE_IMAGE_EXACT
        BASE_IMAGE_NAME: $BASE_IMAGE_NAME
        BASE_IMAGE_SHA: $BASE_IMAGE_SHA
      cache_from:
        - type=registry,mode=max,oci-mediatypes=true,ref=docker.io/pranavmishra90/facsimilab-base:buildcache
      cache_to:
        - type=registry,mode=max,oci-mediatypes=true,ref=docker.io/pranavmishra90/facsimilab-base:buildcache
      tags:
        - "pranavmishra90/facsimilab-base:dev"
        - "pranavmishra90/facsimilab-base:$IMAGE_VERSION"


  main:
    image: pranavmishra90/facsimilab-main:$IMAGE_VERSION
    depends_on:
      - base
    build:
      context: main
      dockerfile: main-stage2.Dockerfile
      no_cache: false
      args:
        IMAGE_VERSION: $IMAGE_VERSION
        IMAGE_REPO_PREFIX: $IMAGE_REPO_PREFIX
        ISO_DATETIME: $ISO_DATETIME
        MAIN_ENV_SHA: $MAIN_ENV_SHA
      cache_from:
        - type=registry,mode=max,ref=docker.io/pranavmishra90/facsimilab-main:buildcache
      cache_to:
        - type=registry,mode=max,ref=docker.io/pranavmishra90/facsimilab-main:buildcache
      tags:
        - "pranavmishra90/facsimilab-main:dev"
        - "pranavmishra90/facsimilab-main:$IMAGE_VERSION"

  full:
    image: pranavmishra90/facsimilab-full:$IMAGE_VERSION
    depends_on:
      - base
    build:
      context: full
      dockerfile: full-stage2.Dockerfile
      no_cache: false
      args:
        IMAGE_VERSION: $IMAGE_VERSION
        IMAGE_REPO_PREFIX: $IMAGE_REPO_PREFIX
        ISO_DATETIME: $ISO_DATETIME
        BASE_IMAGE_SHA: $BASE_IMAGE_SHA
      cache_from:
        - type=registry,mode=max,ref=docker.io/pranavmishra90/facsimilab-full:buildcache
      cache_to:
        - type=registry,mode=max,ref=docker.io/pranavmishra90/facsimilab-full:buildcache
      tags:
        - "pranavmishra90/facsimilab-full:dev"
        - "pranavmishra90/facsimilab-full:$IMAGE_VERSION"