name: Add issues and PRs to Facsimilab Development project 

on:
  issues:
    types:
      - opened
  pull_request:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issue and PR to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1
        with:
          # You can target a project in a different organization
          # to the issue
          project-url: https://github.com/orgs/FacsimiLab/projects/1
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
          